body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding: 0 15px;
    }
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav,
.contacts {
    display: none;
}

.logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.page-header .logo {
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    padding: 16px 0;
    display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
.burger-btn {
    display: none;
}

.header-nav {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contacts {
    display: block;
}

.navigation {
    display: flex;
}

.page-header .logo {
    padding: 24px 0;
    margin-right: 120px;
}

.link.current {
    position: relative;
    padding: 24px 0;
}

.link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.menu-item {
    margin-right: 40px;
}

.menu-item .link {
    padding: 24px 0;
}

.menu-item .link,
.contacts-item .link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:last-child {
    margin-right: 0;
}

.contacts-item {
    font-style: normal;

}

.contacts-item:last-child {
    margin-right: 0;
}

.header-nav .link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav .link:hover,
.header-nav .link:focus,
.link.current {
    color: #404BBF;
}

.header-nav .link:active {
    text-decoration: underline
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts .link {
    font-size: 12px;
    font-weight: 400;
    color: #434455;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
.page-header .logo {
    margin-right: 76px;
}

.contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.contacts .link {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

/* mobile menu  */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    margin: auto;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.mobile-menu-icon {
  fill: #2E2F42;  
}

.mobile-menu-nav {
    margin-bottom: auto;
    display: flex;
}

.mobile-menu-list {
    font-weight: 700;
    font-size: 36px;
    text-decoration: none;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

.mobile-menu-list .link {
    display: block;
    text-decoration: none;
    margin-bottom: 40px;
    color: #2E2F42;
}

.mobile-menu-contact-item {
    gap: 24px;
    display: flex;
        flex-direction: column;
}

.mobile-menu-contact {
    margin-bottom: 48px;
}

.mobile-menu-contact-list .link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.icon-border .link {
    border: 0 solid #FFFFFF;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}



.social-icon {
    fill: #F4F4FD;
}

.mobile-menu-icon-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.link-current {
    display: block;
    text-decoration: none;
    margin-bottom: 40px;
    color: #404BBF;
}



.link-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #4D5AE5;
    font-style: normal;
}



@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* < !--Section 1--> */

.central {
    margin: auto;
    min-width: 320px;
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: url('../hero/hero-mob-min.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../hero/hero-mob-min.jpg');
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (min-resolution: 2x) {
    .central {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../hero/hero-mob@2x-min.jpg');
    }
} 

.central-title {
    font-weight: 700;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    max-width: 216px;
    margin: 0 auto 72px;
}

.central-button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

@media screen and (min-width: 768px) {

    .central {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../hero/hero-tab-min.jpg');
    }

@media screen and (min-resolution: 2x) {
    .central {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../hero/hero-tab@2x-min.jpg');
            }
        }

    .central-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07143;
    margin: 0 auto 36px;
}
}

@media screen and (min-width: 1158px) {
    .central {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../hero/hero-desk-min.jpg');
    }

@media screen and (min-resolution: 2x) {
    .central {
        background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../hero/hero-desk@2x-min.jpg');
            }
        }

    

    .central-button:hover,
    .central-button:focus {
        background-color: #404BBF;
    }

    .central-title {
        margin: 0 auto 48px;
    }
}
/* < !--Section 2--> */

.skils-section {
    padding: 96px 0;
}

.box-skils {
    display: none;
}

.skils {
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    /* flex-direction: column; */
    gap: 72px;
    flex-wrap: wrap;
}

.skils-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.skils-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.skils-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

@media screen and (min-width: 768px){
    
    .skils-section .container {
        display: flex;
    }
    
    .skils {
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .skils-link {
        text-align: left;
    }

    .skils-item {
        flex-basis: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1158px) {

.skils {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
    }

.skils-section {
    padding: 120px 0;
}

.skils-item {
    width: calc((100% - 3*24px)/3);
}

.box-skils {
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skils-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.skils-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.icon-files {
    display: flex;
}
}

/* section 3 */

.team {
    padding: 96px 0;
    background-color: #F4F4FD;
}

.team-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    
}

.team-people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
       border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #FFFFFF;
}

.name-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .team-item {
        gap: 64px 24px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .team-list {
        display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 32px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            border-radius: 0 0 4px 4px;
            padding: 0px 0px 32px 0px;
    }

    .team-people {
        color: #2E2F42;
    }

    .name-team {
        display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }

    .icon-border .link:hover,
    .icon-border .link:focus {
        background-color: #404bbf;
    }
}

/* Section 4 */

.overlay-text {
    display: none;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-item {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px
}

.portfolio-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-information {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
    width: 100%;
}

.portfolio-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .portfolio-item {
        row-gap: 72px;
    }

    .portfolio-content {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

.portfolio-content {
        box-shadow: none;
        width: calc((100% - 2*24px)/3);
        transition: box-shadow 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
        flex-basis: auto;
    }

    .portfolio-content:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        ;
    }

    .portfolio-content:hover .overlay-text {
        transform: translateY(0%);
    }

    .images-overlay {
        position: relative;
        overflow: hidden;
    }

    .overlay-text {
        display: flex;
        margin: auto;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        padding: 40px 32px;
        color: #F4F4FD;
        position: absolute;
        top: 0;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

/* footer  */

.footer {
    padding: 96px 0;
    background-color: #2E2F42;
}

.footer .logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
}

.footer .logo-studio {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-logo {
    display: flex;
    flex-direction: column;
}

.footer .link {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    justify-content: center;

}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.social-content .icon-list {
    gap: 16px
    ;
}

.footer-input {
    background-color: transparent;
    width: 288px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        opacity: 0.3;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.subscribe-button {
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: flex;
}

.footer-send-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}

.form-content {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    
    .footer {
        padding: 92px 0px;
    }

    .footer-container {
        padding-left: 108px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: flex-start;
        align-items: normal;
    }

    .footer .logo {
        text-align: left;
    }

    .footer-input {
        width: 264px;
    }

    .form-content  {
        flex-direction: row;
        gap: 24px;
    }

    .footer-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {

    .footer {
        padding: 92px 0;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: flex-start;
        align-items: normal;
        padding: 0 15px;
        max-width: 1158px;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .subscribe-block {
        margin-left: 80px;
    }

    .social-content .link:hover,
    .social-content .link:focus {
        background-color: #31d0aa;
    }

    .subscribe-button:hover,
    .subscribe-button:focus {
        background-color: #404BBF;
    }
}

.button-close {
    border: 1px solid #0000001A;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close-icon,
.button-close:focus .close-icon {
    fill: #ffffff;
}

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 288px;
    transform: translate(-50%, -50%);
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.modal-text {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.label-input {
    margin-bottom: 8px;
    color: #8E8F99;
}

.form-input {
    border: 1px solid #2E2F4266;
    display: flex;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus {
    border: 1px solid #4D5AE5;
}

.form-input:focus+.form-icon {
    fill: #4D5AE5;
}

.textarea-input {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

#user-comment {
    padding-left: 0;
    resize: none;
    height: 120px;
    padding: 8px 16px;
}

.input-block {
    margin-top: 4px;
    position: relative;
}

.form-icon {
    position: absolute;
    top: 11px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-comment {
    margin-bottom: 16px;
}

.modal-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
}

.checkbox-icon {
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.link-privacy-policy {
    color: #4D5AE5;
    text-decoration: underline;
}

.form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.16;
    color: #2E2F4266;
}

.checkbox-block {
    margin-top: 16px;
    margin-bottom: 24px;
}

.lala:checked+.modal-checkbox .checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.button-send {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    border: none;
    display: block;
    margin: auto;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
    background-color: #4D5AE5;
}

@media screen and (min-width: 768px) {
    .modal {
        padding-left: 24px;
        padding-right: 24px;
        width: 408px;
    }
}
