body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
}

.contacts-list {
    display: flex;
}

.page-header .logo {
    margin-right: 76px;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
}

.logo-studio {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.link.current {
    position: relative;
}

.link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: #404BBF;
}

.menu-item {
    margin-right: 40px;
}

.menu-item .link,
.contacts-item .link {
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:last-child {
    margin-right: 0;
}

.contacts-item {
    margin-right: 40px;

}

.contacts-item:last-child {
    margin-right: 0;
}

.header-nav .link {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav .link:hover,
.header-nav .link:focus,
.link.current {
    color: #404BBF;
}

.header-nav .link:active {
    text-decoration: underline
}

.contacts {
    font-style: normal;
}

.contacts .link {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*section 1*/
.contacts .link:hover,
.contacts .link:focus {
    color: #404bbf;
}

.central {
    margin: auto;
    max-width: 1440px;
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/people-office.jpg');
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.central-content {
    margin: 0 auto;
}

.central-title {
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-size: 56px;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
    margin: 0 auto 48px;
}

.central-button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    margin: auto;
    display: block;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.central-button:hover,
.central-button:focus {
    background-color: #404BBF;
}

/*section 2*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skils-section {
    padding: 120px 0;
}

/* .skils-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.skils {
    display: flex;
    gap: 24px;
}

.skils-item {
    width: calc((100% - 3*24px)/3);
}

.skils-item:last-child {
    margin-right: 0;
}

.box-skils {
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skils-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.skils-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*section 3*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-item {
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    width: calc((100% - 3*24px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.name-team {
    padding: 32px 0;
}

.team-people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;

}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.name-team .icon-list {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    justify-content: center;
    gap: 24px;
}

.icon-border .link {
    border: 0 solid #FFFFFF;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.icon-border .link:hover,
.icon-border .link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #F4F4FD;
}

/*section 4*/

.portfolio {
    padding: 120px 0;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-content {
    width: calc((100% - 2*24px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
}

.portfolio-content:hover .overlay-text {
    transform: translateY(0%);
}

.images-overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    margin: auto;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 40px 32px;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .overlay-text:hover {
    transform: translateY(0);
} */

.portfolio-information {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*footer*/

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;

}

.footer .logo-studio {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}



.footer .link {
    font-size: 16px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    justify-content: center;

}

.footer-logo {
    margin-right: 120px;
}

.footer-title {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-input {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 8px;
}

.subscribe-block {
    margin-left: auto;
}

.form-content {
    display: flex;
    gap: 24px;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.footer-send-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}

.social-content .icon-list {
    margin-top: 16px;
    width: 208px;
    justify-content: space-between;
    display: flex;
    gap: 16px;
}

.social-content .link:hover,
.social-content .link:focus {
    background-color: #31d0aa;
}

.social-content .icon-border {
    display: block;
}

.social-content .social-icon {
    margin: 8px 8px;
}


.footer-container {
    display: flex;
    align-items: baseline;
}

/* modal window */

.button-close {
    border: 1px solid #0000001A;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .close-icon,
.button-close:focus .close-icon {
    fill: #ffffff;
}

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    background-color: #fcfcfc;
    ;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    transform: translate(-50%, -50%);
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.modal-text {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.label-input {
    margin-bottom: 8px;
    color: #8E8F99;
}

.form-input {
    border: 1px solid #2E2F4266;
    display: flex;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input:focus {
    border: 1px solid #4D5AE5;
}

.form-input:focus+.form-icon {
    fill: #4D5AE5;
}

.textarea-input {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

#user-comment {
    padding-left: 0;
    resize: none;
    height: 120px;
    padding: 8px 16px;
}

.input-block {
    margin-top: 4px;
    position: relative;
}

.form-icon {
    position: absolute;
    top: 11px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-comment {
    margin-bottom: 16px;
}

.modal-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
}

.checkbox-icon {
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}


.link-privacy-policy {
    color: #4D5AE5;
    text-decoration: underline;
}

.form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.16;
    color: #2E2F4266;
}

.checkbox-block {
    margin-top: 16px;
    margin-bottom: 24px;
}

.lala:checked+.modal-checkbox .checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.button-send {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    border: none;
    display: block;
    margin: auto;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
    background-color: #4D5AE5;
}